<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="Zd8D8hC6lWRGDKAhlMGQPlOBJ6L9oDUvHzJuPo-9xKs" />
  <title>Random Chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>
<body>
  <div class="login-container">
    <h1>Random Chat</h1>
    <form action="{{ url_for('enter_chat') }}" method="POST" id="chatForm">
      <input type="text" name="username" placeholder="Enter your nickname" required>
      
      <div class="gender-select">
        <div class="gender-option">
          <input type="radio" id="male" name="gender" value="male" required>
          <label for="male">
            <span class="gender-icon"></span>
            <span class="gender-text">Male</span>
          </label>
        </div>
        
        <div class="gender-option">
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">
            <span class="gender-icon"></span>
            <span class="gender-text">Female</span>
          </label>
        </div>
      </div>   
      <div class="error-message" id="errorMessage">Please select your gender</div>
      <button type="submit">Start Chatting</button>
    </form>
  </div>
<script src="{{ url_for('static', filename='index_script.js') }}"></script>   
</body>
</html>
